@model Markom_Application.Models.Master.RowsEmployeeModel

<div class="col-lg-12">
    <br />
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@ViewBag.TitleLeft</a></li>
            <li class="breadcrumb-item"><a href="#">@ViewBag.TitleMid</a></li>
            <li class="breadcrumb-item active" aria-current="page" id="titleMutation">@ViewBag.Title</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-lg-12">
        <br />
        <div class="card oh">
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">
                    <div class="alert alert-info alert-dismissible fade" role="alert">
                        <div class="alertText"></div>
                        <button type="button" class="close closeAlert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    @{ Html.RenderPartial("_FilterEmployee"); }
                    <table id="table"
                           data-toggle="table"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-page-list="[10, 25, 50]"
                           data-page-size="10"
                           data-url="@Url.Action("GetData", "Employee")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           data-query-params="queryParamsEmployee"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th class="py-0 text-center" data-field="@Html.DisplayNameFor(m => m.employee_number)">Employee ID Number</th>
                                <th class="py-0 text-center" data-field="@Html.DisplayNameFor(m => m.employee_name)">Employee Name</th>
                                <th class="py-0 text-center" data-field="@Html.DisplayNameFor(m => m.company_name)">Company Name</th>
                                <th class="py-0 text-center" data-field="@Html.DisplayNameFor(m => m.created_date)">Created Date</th>
                                <th class="py-0 text-center" data-field="@Html.DisplayNameFor(m => m.created_by)">Created By</th>
                                <th class="py-0 text-center" data-field="@Html.DisplayNameFor(m => m.email)" data-visible="false">Email</th>
                                <th class="py-0 text-center" data-field="@Html.DisplayNameFor(m => m.m_company_id)" data-visible="false">Company ID</th>
                                <th class="py-0 text-center" data-field="@Html.DisplayNameFor(m => m.first_name)" data-visible="false">First Name</th>
                                <th class="py-0 text-center" data-field="@Html.DisplayNameFor(m => m.last_name)" data-visible="false">Last Name</th>
                                <th class="py-0 text-center" data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderPartial("_Script"); }
<!-- Modal AddUp -->
<div class="modal fade bd-example-modal-xl" id="ModalAdUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id=""></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label text-right">* Employee ID Number</label>
                        <div class="col-sm-4">
                            <input type="hidden" class="form-control" id="id" name="id" value="" />
                            <input type="text" class="form-control" id="Employee_ID_Number_Input" name="Employee_ID_Number_Input" placeholder="Type Emp ID Number" autocomplete="off" />
                            <input type="hidden" class="form-control" id="Employee_ID_Number_Input_Second" name="Employee_ID_Number_Input_Second" value="" />
                            <p class="errorEmployee_ID text-danger d-none"></p>
                        </div>
                        <label for="" class="col-sm-2 col-form-label text-right">* Company Name</label>
                        <div class="col-sm-4">
                            <select type="text" class="form-control" id="Company_ID_Input" name="Company_ID_Input" autocomplete="off">
                                <option value="">
                                    - Select Company Name -
                                </option>
                            </select>
                            <p class="errorCompany_ID text-danger d-none"></p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label text-right">First Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="Employee_First_Name_Input" name="Employee_First_Name_Input" placeholder="Type First Name" autocomplete="off" />
                            <p class="errorFirstName text-danger d-none"></p>
                        </div>
                        <label for="" class="col-sm-2 col-form-label text-right">Email</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="Employee_Email_Input" name="Employee_Email_Input" placeholder="Type Email" autocomplete="off" />
                            <p class="errorEmail text-danger d-none"></p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label text-right">Last Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="Employee_Last_Name_Input" name="Employee_Last_Name_Input" placeholder="Type Last Name" autocomplete="off" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cl" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary add" data-request-url="@Url.Action("AddUp", "Employee")">Save</button>
                <button class="btn btn-primary addL d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>

        </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="javascript:void(0)" role="form">
                <div class="modal-body">
                    <input id="idDel" type="hidden" class="form-control" name="id" value="">
                    Delete @ViewBag.Title "<b><span id="nameDel"></span></b>" ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary delete" data-request-url="@Url.Action("Delete", "Employee")">Delete</button>
                    <button type="button" class="btn btn-danger cl" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary deleteL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var ViewBag = '@ViewBag.Title';
    var ViewContent = '@ViewBag.TitleLeft';
</script>
<script src="~/Scripts/jsdata/employee.js"></script>